.box {
    outline: 1px solid black;
}

.nav_box_item {
    background-color: lightgreen;
}

.a_box {
    display: block;
    
    
}

.a_box:hover {
    background-color:green;
    color: darkblue;
}

body {
    /* image src: https://unsplash.com/photos/RPT3AjdXlZc*/
    background-image: url("mountains.jpeg");
    background-size: 500px 300px;
}

.text_area {
    background-color: white;
}

